.welcomeMessage{
    margin-top: 200px;
    margin-right: 800px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    font-weight:bold;
    color:rgb(200, 210, 219);
    text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.5); 
}

body{
    background-image: url('background.jpg');
    background-size:cover;
}